.rating-bar {
	overflow: hidden;
	margin: 0 auto;
}
.rating-bar:not(:checked) > input {
	display: none;
}
.rating-bar:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 48px;
	line-height: 1;
	color: lightgrey;
}
.rating-bar:not(:checked) > label:before {
	content: '★';
}
.rating-bar > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-bar:not(:checked) > label:hover,
.rating-bar:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-bar > input:checked + label:hover,
.rating-bar > input:checked + label:hover ~ label,
.rating-bar > input:checked ~ label:hover,
.rating-bar > input:checked ~ label:hover ~ label,
.rating-bar > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-bar > label:active {
	position: relative;
}
/* RATING RESULT */
.rating-result {
	margin: 0 auto;
}
.rating-result span {
	padding: 0;
	font-size: 64px;
	margin: 0 1px;
	line-height: 1;
	color: lightgrey;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}