{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="card-deck">
    {% for item in dictionary %}
        <div class="card">
            <div class="card-body">
                <h2 class="name-in-product">{{item.title}}</h2>
            </div>
            <!--src="/static/img/{{img_dir}}/{{item.title}}.png"-->
            <img class="card-img-top product-img" src="{{item.image_url}}" alt="Card image cap">
            <div class="card-body">
                <!------------------------------------------------------->
                {% if rates == 0 %}
                <h3 class="text-warning">Оценка: ещё нет оценок</h3>
                {% else %}
                <div class="text-warning">
                    <h3>Оценка: {{item.rating}}</h3>
                    <div class="rating-bar">
                    {% for i in 0|range:item.rating %}
                        <a>
                            <img class="star" src="{% static 'img/general/star.png' %}">
                        </a>
                    {% endfor %}
                    {% for i in item.rating|range:5 %}
                        <a>
                            <img class="star" src="{% static 'img/general/star_gray.png' %}">
                        </a>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
                <!------------------------------------------------------->
                <h2>{{item.price}} ₽.</h2>
                <a href="/product/buy/{{item.product_type}}/{{item.id}}" class="btn btn-warning">Купить</a>
                <a href="/product/{{item.product_type}}/{{item.id}}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}