{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="card custom-form">
        <img class="card-img-top" src="{{img_url}}">
        <form class="card-body" method="post" enctype="multipart/form-data">
            <h1>{{item_title}}</h1>
            {% csrf_token %}
            <div class="form-group">
                <label class="col col-form-label">Текст отзыва:</label>
                <textarea name="text" class="form-control" required id="id_text" placeholder="Введите текст"></textarea>
            </div>
            <div class="form-group">
                <label for="id_file" class="col col-form-label">Изображение:</label>
                <input type="file" name="file" class="form-control-file" id="id_file" placeholder="Выбрать файл">
            </div>
            {% for error in field.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <!--<table>{{form}}</table>-->
            <input type="submit" value="Отправить отзыв" class="btn btn-primary">
        </form>
    </div>
{% endblock %}