{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="product product-page-product">
    <h1>{{title}}</h1>
    <div class="wrapper container">
        <img class="product-page-img" src="{{img_url}}">
        <div class="inner-padding">
            <!------------------------------------------------------->
            {% if rates == 0 %}<h3 class="text-warning">ещё нет оценок</h3>
            {% else %}
            <div>
                <h3 class="text-warning">Оценка:</h3>
                <div class="rating-result">
                    {% for i in 0|range:rate %}
	                <span class="active"></span>
                    {% endfor %}
                    {% for i in rate|range:5 %}
	                <span></span>
                    {% endfor %}
                </div>
            </div>
            {% if your_rate > 0 %}
            <div>
                <h4 class="text-warning">Ваша оценка:</h4>
                <div class="rating-result">
                    {% for i in 0|range:your_rate %}
	                <span class="active"></span>
                    {% endfor %}
                    {% for i in your_rate|range:5 %}
	                <span></span>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endif %}
            <div class="border border-success rounded-lg" style="padding: 5px">
                <form method="post" action="/rate">
                    {% csrf_token %}
                    <input type="hidden" id="id_product_type" name="product_type" value="{{ product_type }}">
                    <input type="hidden" id="id_id" name="id" value="{{ id }}">
                    <div class="rating-bar">
                        {% for i in '54321'|make_list %}
	                    <input type="radio" id="id_rate_{{i}}" name="rate" value="{{i}}">
	                    <label for="id_rate_{{i}}" title='Оценить на "{{i}}"'></label>
                        {% endfor %}
                    </div>
                    <input type="submit" value="Оценить" class="btn btn-primary">
                </form>
            </div>
            <div>
                <form method="post" action="/cart/add/{{product_type}}/{{id}}/">
                    {% csrf_token %}
                    <input type="number" name="quantity" id="id_quantity" class="form-control">
                    <input type="submit" value="В корзину" class="btn btn-secondary">
                </form>
            </div>
            <!------------------------------------------------------->
            <div>
                <h4 style="margin-top: 20px;">{{price}} ₽</h4>
                <a href="/product/buy/{{product_type}}/{{title}}" class="btn btn-warning">Купить</a>
            </div>
        </div>
    </div>
    <h2>Описание:</h2>
    <p class="description">{{description}}</p>
    <h2>Характеристики:</h2>
    <table class="product-table">
        {% for key, value in item %}
        {% if value != "" and value != None %}
        <tr>
            <td style="color: gray;"><h4>{{key}}:</h4></td>
            <td><h4>{{value}}</h4></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% if have_opinion %}
    <form method="post" action="/product/opinion/{{product_type}}/{{id}}">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Убрать отзыв">
    </form>
    {% else %}
    <a href="/product/opinion/{{product_type}}/{{id}}" class="btn btn-primary">Оставить отзыв</a>
    {% endif %}
</div>
{% if opinions != None %}
<div>
    {% for item in opinions %}
    <div class="opinion">
        {% if item.4 %}
        <h4 class="green-neon-text">&#10004; Реальный покупатель</h4>
        {% endif %}
        <h2>{{item.0}}</h2>
        {% if item.2 != '' and item.2 != None %}
        <img class="opinion_img" src="{{item.2.url}}" alt="Нет фото">
        {% else %}
        <h3>Нет фото</h3>
        {% endif %}
        {% if item.3 > 0 %}
        <div class="rating-result">
            {% for i in 0|range:item.3 %}
	        <span class="active"></span>
            {% endfor %}
            {% for i in item.3|range:5 %}
	        <span></span>
            {% endfor %}
        </div>
        {% endif %}
        <textarea class="opinion-text" readonly>{{item.1}}</textarea>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}