{% extends "base.html" %}
{% block content %}
    <div class="card custom-form min-width-300"> <!--style="width: 500px"-->
        <div class="card-body">
            <h1 class="font-weight-bold">{{username}}</h1>
            {% for i, j in user_info %}
            <div class="form-group">
                <label>{{i}}:</label>
                <div class="form-control">{{j}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if orders %}
    <section class="w-100 margin-top-50 ml-md-2 mr-md-2 round-border-padding min-width-300 bg-secondary">
        <div class="div-margin-minus-50">
            <h4>Заказы</h4>
        </div>
        {% for i in orders %}
        <section class="shadow round-border-padding">
            {% if i.has_been_paid %}
            <h3 class="green-neon-text">&#10004; Заказ оплачен</h3>
            {% else %}
            <h3 class="red-neon-text">&#10060; Заказ не оплачен</h3>
            {% endif %}
            <p class="text-success">Цена: <strong>{{i.price}} ₽</strong></p>
            <p class="text-primary">{{i.datetime}}</p>
            <ul class="list-group">
                {% for product in i.products %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <!--<img class="max-width-100 border" src="{{product.product.image.url}}">-->
                    <strong>{{product.product.title}}</strong>
                    <span>{{product.price}} ₽</span>
                    <strong>Количество</strong>
                    <span class="badge badge-primary badge-pill">{{product.quantity}}</span>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endfor %}
    </section>
    {% endif %}
{% endblock %}